{% extends "base.html" %}
{% block title %} {{ company.name }}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
{% csrf_token %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-9">
                {% if user == company.owner %}
                    <p class="card-text"><a href="{% url 'staff' id=company.id %}">Список сотрудников.</a></p>
                {% endif %}
                <p class="card-text">Название: {{ company.name }}</p>
                <p class="card-text">{{ company.discription }}</p>
                <p class="card-text">Дата основания: {{ company.foundation_date }}</p>
                <p class="card-text">Телефон: {{ company.phone }}</p>
                <p class="card-text">Почта: {{ company.email }}</p>
                <p class="card-text">Город: {{ company.city }}</p>
                <p class="card-text">Адрес: {{ company.adress }}</p>
                <p class="card-text">Численность зарегистрированных сотрудников: {{ company.staff.count }}</p>
                    {% if user.profile.company == company and user.profile.is_stuff %}    
                        <div class="btn-group">
                            <a class="btn btn-sm btn-primary" 
                                href="{% url 'update' id=company.id %}" 
                                role="button">Редактировать</a>
                        </div>
                        {% if request.user.is_owner %}         
                        <div class="btn-group">
                            <a class="btn btn-sm danger" 
                                href="{% url 'delete' id=company.id %}" 
                                role="button">Удалить организацию</a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-sm danger" 
                                href="#" 
                                role="button">Добавить модератора</a>
                        </div>
                        {% endif %}
                    {% endif %}
                    {% if user.profile.company == company %}
                    <div class="btn-group">
                        <a class="btn btn-sm danger" 
                            href="{% url 'left' id=company.id %}" 
                            role="button">Покинуть организацию</a>
                    </div>
                    {% endif %}
                {% if not user.profile.company %}
                    <div class="btn-group">
                        <a class="btn btn-sm btn-primary" 
                            href="{% url 'join' id=company.id %}" 
                            role="button">Вступить в организацию</a>
                    </div>
                {% endif %}
                {% include 'includes/news.html' with form=form company=company news=news %}
            </div>
        </div>
    </main> 
{% endblock %}